/* 日付選択ボタンのスタイル */
.weight-date-select-button {
  background-color: #007bff;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgba(162, 217, 255, 0.3);
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-weight: bold;
  box-shadow: 0 0 0 2px rgba(162, 217, 255, 0.8);
}

.weight-date-select-button:hover {
  background-color: rgba(162, 217, 255, 0.8);
}

.weight-date-select-button:active {
  transform: scale(0.95);
}

/* 選択された日付の表示スタイル */
.weight-selected-date {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

/* 体重入力ボタンのコンテナスタイル */
.weight-input-container {
  text-align: center;
  margin-top: 20px;
}

/* 体重入力ボタンのスタイル */
.weight-input-button {
  background-color: #007bff;
  display: block;
  width: 100%;
  max-width: 120px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgba(162, 217, 255, 0.3);
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-weight: bold;
  box-shadow: 0 0 0 2px rgba(162, 217, 255, 0.8);
}

.weight-input-button:hover {
  background-color: rgba(162, 217, 255, 0.8);
}

.weight-input-button:active {
  transform: scale(0.95);
}

/* 現在の体重表示のスタイル */
.weight-display {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

/* 目標体重の表示スタイル */
.weight-goal-weight {
  font-size: 1.5em;
  color: rgba(255, 0, 0, 0.9);
  margin-top: 10px;
  text-align: center;
}

/* 目標達成予定日までの残り日数の表示スタイル */
.weight-remaining-days {
  font-size: 1.5em;
  color: rgba(0, 0, 255, 0.7);
  margin-top: 10px;
  text-align: center;
}

/* 目標データ表示のコンテナスタイル */
.goal-data-display {
  margin-top: 20px;
}

/* 体重送信ボタンのスタイル */
.weight-submit-button {
  background-color: #007bff;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgba(162, 217, 255, 0.3);
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-weight: bold;
  box-shadow: 0 0 0 2px rgba(162, 217, 255, 0.8);
}

.weight-submit-button:hover {
  background-color: rgba(162, 217, 255, 0.8);
}

.weight-submit-button:active {
  transform: scale(0.95);
}

.weight-save-button {
  background-color: #007bff;
  display: block;
  width: 100%;
  max-width: 120px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgba(162, 217, 255, 0.3);
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-weight: bold;
  box-shadow: 0 0 0 2px rgba(162, 217, 255, 0.8);
}

.weight-save-button:hover {
  background-color: rgba(162, 217, 255, 0.8);
}

.weight-save-button:active {
  transform: scale(0.95);
}