<p>こんにちは <%= @resource.email %>様</p>

<p>パスワード再設定のリクエストが行われました。以下のリンクをクリックしてパスワードを再設定してください。</p>

<p><%= link_to 'パスワードを変更する', "https://diet-maker-d07eb3099e56.herokuapp.com/reset-password/#{@token}" %></p>

<p>このリクエストを行っていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>