.header-login-button {
    background: transparent;
    border: none;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
}
  
.header-login-button .fa-user {
    font-size: 5vh;
    color: #fff;
    transition: color 0.3s;
}

/* アイコンの色をログイン状態で変更 */
.header-login-button .user-logged-in {
  color: #fff; /* ログインしている場合は薄い青色 */
  animation: flame 1s infinite;
}

.header-login-button:hover .fa-user {
  color: #87cefa; /* ホバー時のアイコン色を薄い青色に */
}

@keyframes flame {
  0% {
    text-shadow: 0 0 2px #ff4500, 0 0 4px #ff4500;
  }
  50% {
    text-shadow: 0 0 4px #ff4500, 0 0 8px #ff4500;
  }
  100% {
    text-shadow: 0 0 2px #ff4500, 0 0 4px #ff4500;
  }
}




@media (max-width: 768px) {
  .header-login-button {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .header-login-button .fa-user {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .header-login-button {
    left: 5px;
  }
  
  .header-login-button .fa-user {
    font-size: 22px;
  }
}