/* メニューボタンのスタイル */
.header-menu-button {
    background: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    position: absolute;
    right: 70px;
  }
  
  /* メニューボタン内のアイコンのスタイル */
  .header-menu-button .fa-bars {
    font-size: 4vh;
    color: #5d9cec;
  }
  
  /* メニューボタンのホバー時のスタイル */
  .header-menu-button:hover {
    background-color: #d3f2ff;
    transform: scale(1.1);
  }




  @media (max-width: 768px) {
    .header-menu-button {
      width: 45px;
      height: 45px;
      right: 30px;
    }
    
    .header-menu-button .fa-bars {
      font-size: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .header-menu-button {
      width: 40px;
      height: 40px;
      right: 30px;
    }
    
    .header-menu-button .fa-bars {
      font-size: 18px;
    }
  }
  