/* セット追加ボタンのコンテナスタイル */
.add-set-button-container {
    text-align: center;
    margin-top: 20px;
}

/* セット追加ボタンのスタイル */
.add-set-button {
    background-color: rgba(162, 217, 255, 0.2);
    border: 2px solid rgba(162, 217, 255, 0.2);
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: background-color 0.3s ease;
    font-size: 18px;
    border: 2px solid rgba(162, 217, 255, 0.8);
}

/* セット追加ボタンのホバー時のスタイル */
.add-set-button:hover {
    background-color: rgba(130, 192, 255, 0.5);
}