/* 全体のスタイル */
.training-record-container {
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* タイトルのスタイル */
.training-record-title {
  text-align: center;
}

.save-training-button {
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}