/* 入力フィールドのスタイル */
.training-table input[type="number"],
.training-table input[type="text"] {
    width: 70px;
    text-align: center;
    border: 1px solid #a2d9ff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    font-size: 18px;
    cursor: pointer;
}

/* 入力フィールドのフォーカス時のスタイル */
.training-table input[type="number"]:focus,
.training-table input[type="text"]:focus {
    border-color: #a2d9ff;
}

/* 入力フィールドのスピンボタンを非表示に */
.training-table input[type="number"]::-webkit-outer-spin-button,
.training-table input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



@media screen and (max-width: 768px) {
  .training-table input[type="number"],
  .training-table input[type="text"] {
    width: 50px;
    padding: 8px 5px;
    font-size: 16px;
  }
  
  .delete-button {
    padding: 6px 8px;
    font-size: 14px;
  }
}


@media screen and (max-width: 480px) {
  .training-table input[type="number"],
  .training-table input[type="text"] {
    width: 40px;
    padding: 6px 3px;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .delete-button {
    padding: 4px 6px;
    font-size: 12px;
  }
}
