.footer {
    background-color: #5D9CEC;
    color: white; /* テキストの色を白に設定 */
    text-align: center; /* テキストを中央揃え */
    padding: 20px 0; /* 上下に20px */
    position: fixed; /* 固定位置に設定 */
    bottom: 0; /* 下端に固定 */
    width: 100%; /* 幅を100%に設定 */
    left: 50%; /* 左端を50%に設定 */
    transform: translateX(-50%); /* 中央に固定するためにX軸方向に50%移動 */
}

.links {
    margin-bottom: 10px; /* 下に10pxのマージン */
}

.link {
    color: white; /* テキストの色を白に設定 */
    margin: 0 15px; /* 左右に15px */
    text-decoration: none; /* 下線を消す */
}

.icons {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 子要素を中央揃え */
    align-items: center; /* 子要素を垂直方向に中央揃え */
    margin-bottom: 10px; /* 下に10pxのマージン */
}

.iconLink {
    margin: 0 10px; /* 左右に10px */
}

.icon {
    color: white;
    font-size: 30px; /* アイコンのサイズ */
}

.copy {
    font-size: 14px;
    margin-left: 10px; /* アイコンとの間にスペースを追加 */
}