/* ナビゲーションバーのスタイル */
.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: rgba(0, 123, 255, 0.9);
    color: #fff;
    border-radius: 8px 8px 0 0;
    opacity: 0.7;
}

.react-calendar__navigation button {
    background: none;
    border: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    border-radius: 18px;
}

.react-calendar__navigation button:disabled {
    color: #ccc;
    cursor: default;
}

.react-calendar__navigation button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* ナビゲーションラベルのスタイル */
.react-calendar__navigation__label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    background-color: #007BFF;
    color: #000;
    padding: 8px 16px;
    border-radius: 18px;
    margin-top: -16px;
}