/* カレンダー全体のスタイル */
.react-calendar {
    width: 100%;
    max-width: 600px;
    background-color: rgba(173, 216, 230, 0.001);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 18px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 100px;
}

/* 曜日のヘッダースタイル */
.react-calendar__month-view__weekdays__weekday {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0;
    color: #000;
}

/* 月曜日のヘッダーを黒色に明示的に設定 */
.react-calendar__month-view__weekdays__weekday:nth-child(1) abbr {
    color: #000;
}

/* 土曜日のヘッダーを青色に */
.react-calendar__month-view__weekdays__weekday:nth-child(6) abbr {
    color: blue;
}

/* 日曜日のヘッダーを赤色に */
.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr {
    color: red;
}