/* ボタンのスタイル */
.training-table button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 80px;
    height: 40px;
    font-size: 16px;
}

/* 完了ボタンのスタイル */
.training-table .complete-button {
    background-color: rgba(162, 217, 255, 0.2);
    color: black;
    cursor: pointer;
}

/* 未完了ボタンのスタイル */
.training-table .incomplete-button {
    background-color: white;
    color: white;
    border: 2px solid rgba(162, 217, 255, 0.5);
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .training-table button {
        width: 50px !important;
        padding: 8px 5px;
        font-size: 14px;
    }
    
    .training-table .complete-button,
    .training-table .incomplete-button {
        width: 50px !important;
    }
}


@media screen and (max-width: 480px) {
    .training-table button {
        width: 50px !important;
        height: 35px;
        padding: 5px 3px;
        font-size: 12px;
    }
}