/* html要素とbody要素のスタイルを設定 */
html, body {

}

/* ルート要素の高さを100%に設定 */
#root {
    height: 100%;
}

.app-container {
    background-color: rgba(226, 236, 252, 0.4);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content-container {
    flex: 1;
  }