/* モーダルを閉じるボタンのスタイル */
.close-button {
    display: block;
    margin: 20px auto 0;
    padding: 12px 30px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 5vh;
  }
  
  /* モーダルを閉じるボタンのホバースタイル */
  .close-button:hover {
    background: #0056b3;
    transform: scale(1.05);
  }