/* モーダルのコンテンツ部分のスタイル */
.modal-contents {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  max-height: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(162, 217, 255, 0.5);
  animation: fadeIn 0.3s ease;
  overflow-y: auto; /* 高さがコンテンツより小さい場合はスクロール可能に */
  position: relative;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 768px) {
  .modal-contents {
    max-height: 70%;
    padding: 15px;
    padding-bottom: 30px;
  }
}

/* フェードインアニメーションの定義 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}