/* 検索入力フィールドのスタイル */
.search-input {
    width: 90%;
    padding: 8px 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
  }