/* トレーニングメニューコンテナ */
.training-menu-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  text-align: center; /* 中央寄せ */
  border: 2px solid #87CEFA;
}

/* フォームグループ */
.training-menu-form-group {
  margin-bottom: 15px;
  text-align: center; /* 中央寄せ */
}

/* フォームラベル */
.training-menu-form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

/* フォームセレクト */
.training-menu-form-group select {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  outline: 1px solid #87CEFA;
  outline-offset: 2px;
  font-weight: bold;
  height: 45px;
}

.training-menu-form-group select:hover {
  border: 1px solid #87CEFA;
  background-color: #f8fcff;
}

/* サブミットボタン */
.training-menu-submit-button {
  width: 20%;
  padding: 10px;
  background-color: #87CEFA;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid rgba(162, 217, 255, 1);
  transition: background-color 0.3s, transform 0.3s;
}

.training-menu-submit-button:hover {
  background-color: #4a8ad4;
  transform: translateY(-2px);
}

/* メニュー結果 */
.training-menu-menu-result {
  margin-top: 20px;
  padding: 15px;

  border-radius: 4px;

  text-align: center;
}

.training-menu-menu-result h2 {
  color: #007acc;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.training-menu-menu-result pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
}

/* メニュータイトル */
.training-menu-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* メニューリスト */
.training-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

/* メニューリストアイテム */
.training-menu-list li {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
}

/* メニュー曜日 */
.training-menu-day {
  font-weight: bold;
  color: #007acc;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

/* 保存ボタン */
.training-menu-apply-button {
  width: 30%;
  padding: 10px;
  background-color: #87CEFA;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid rgba(162, 217, 255, 1);
  transition: background-color 0.3s, transform 0.3s;
}

/* 保存ボタンのホバー効果 */
.training-menu-apply-button:hover {
  background-color: #4a8ad4;
  transform: translateY(-2px);
}

/* 未入力時のエラーメッセージ */
.training-menu-error-message {
  color: red;
  font-weight: bold;
}

.training-menu-date-input {
  width: 300px;
  font-size: 18px;
  padding: 5px;
  margin-right: 10px;
  outline: 1px solid #87CEFA;
  outline-offset: 2px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  height: 30px;
}

.training-menu-date-input:hover {
  border: 1px solid #87CEFA;
  background-color: #f8fcff;
}

.training-menu-save-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #0366d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 47px;
}

.training-menu-save-button:hover {
  background-color: #0056b3;
}

.training-menu-calendar-modal-overlay,
.training-menu-confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.training-menu-calendar-modal,
.training-menu-confirm-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
}

.training-menu-confirm-button {
  background-color: #007BFF;
  color: white;
  width: 120px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px; /* ボタン間の間隔を追加 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

.training-menu-confirm-button:hover {
  background-color: #0056b3;
}

.training-menu-cancel-button {
  background-color: #dc3545;
  color: white;
  width: 120px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px; /* ボタン間の間隔を追加 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

.training-menu-cancel-button:hover {
  background-color: #c82333;
}

.training-menu-login-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  text-align: center;
}